* {
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    height: 100%;
    width: 100%;
    font-size: 15px;
    line-height: 1.6em;
    background-color: #f5f5f5;
    background-image: url(https://lmpixels.com/demo/procard/images/main_bg.png);
    background-position: center center;
    background-repeat: no-repeat;
}

.header {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: block;
}

.header .header-content {
    max-width: 1032px;
    margin: 0 auto;
}

.site-title-block {
    position: relative;
    float: left;
    z-index: 1;
    text-align: center;
}
.site-title {
    color: #49515d;
    font-size: 20px;
    font-weight: 500;
    font-family: montserrat,Helvetica,sans-serif;
    line-height: 1;
    margin: 38px 0 0;
}
.site-title span {
    color: #2eca7f;
}

.site-nav {
    float: right;
}

.site-main-menu {
    display: block;
    padding: 0;
    margin: 0;
}

.site-main-menu li {
    display: inline-block;    
    position: relative;
    padding: 0;
    text-align: center;
    margin-top: 33px;
}

.site-main-menu li a:hover, .site-main-menu li.active a {
    background-color: transparent;
    opacity: 1;
}

.site-main-menu li a {
    display: block;
    position: relative;
    padding: 8px 0;
    margin: 0 20px;
    text-align: center;
    color: #49515d;
    font-size: 15px;
    line-height: 1;
    font-weight: 400;
    position: relative;
    text-decoration: none;
    outline: none;
    opacity: 0.6;
    
}
.site-main-menu li a:hover {
    background-color: transparent;
    opacity: 1;
}

.site-main {
    width: 100%;
    height: auto;
    position: relative;
}

.subpages {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding-top: 100px;
    overflow: hidden; 
    perspective: 1500px;
    backface-visibility: hidden;
}

.pt-page {
    width: 100%;
    max-width: 1032px;
    position: absolute;
    top: auto;
    padding: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding-bottom: 50px;
    background-color: transparent;
    transform: translate3d(0,0,0);
}

.start-page-content .page-header {
    margin: 0;
    position: relative;
    background-color: #2eca7f;
    padding: 75px;
    margin-bottom: 0px;
    background-image: url(https://lmpixels.com/demo/procard/images/sp_main_bg.png);
    background-size: cover;
    background-attachment: scroll;
    background-position: center center;
    background-repeat: no-repeat;
}

.page-header {
   
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
}
.pt-page .section-inner {
    position: relative;
    background-color: #fff;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 15px 25px 0 rgb(0 0 0 / 10%);
    transform: translate3d(0,0,0);
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.col-md-4 {
    width: 33.33333333%;
    float: left;
}
.col-sm-4, .col-md-4, .col-lg-4{
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.start-page-content .page-header .photo {
    max-width: 280px;
    margin-bottom: -75px;
    margin-left: -30px;
    margin-top: -30px;
    border: 3px solid #fff;
    background-color: #fff;
    box-shadow: 0 3px 8px 0 rgb(0 0 0 / 10%);
    transition: all .3s ease-in-out;
}
img {
    vertical-align: bottom;
    max-width: 100%;
    height: auto;
    border: 0;
}

.col-sm-8, .col-md-8, .col-lg-8{
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.start-page-content .page-header .title-block {
    text-align: center;
}

.start-page-content .page-header .title-block h1 {
    color: #fff;
    font-size: 54px;
    font-weight: 700;
    margin: 30px 0 0;
}

.start-page-content .page-content {
    padding-top: 80px;
}
.page-content {
    padding: 30px 50px 50px;
}
.start-page-content .page-content div {
    display: inline-block;
    height: 100%;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.row:before {
    display: table;
    content: " ";
}
.start-page-content .page-content div {
    display: inline-block;
    height: 100%;
}
.col-sm-6 {
    width: 50%;
    float: left;
}
.col-lg-6, .col-md-6, .col-sm-6{
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
.start-page-content .about-me .block-title h3 {
    margin-bottom: 10px;
}
.block-title h3 {
    font-size: 21px;
    margin: 5px 0 25px;
}

h3{
    color: #212121;
    font-family: montserrat,Helvetica,sans-serif;
    font-weight: 700;
    line-height: 1.5em;
    margin-top: 0;
    margin-bottom: 10px;
}
.block-title h3 span {
    color: #2eca7f;
}

.start-page-content .page-content .download-resume {
    margin-top: 15px;
}

.start-page-content .page-content div {
    display: inline-block;
    height: 100%;
}
.download-resume {
    margin-top: 50px;
}
.btnDownload {
    font-family: roboto,Helvetica,sans-serif;
    text-transform: uppercase;
    background-color: #fff;
    color: #212121;
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%), 0 2px 4px rgb(0 0 0 / 30%);
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border-radius: 4px;
    font-family: inherit;
    font-size: 14px;
    line-height: 2.8;
    padding: 0 1.5em;
    border: 0;
}
.info {
    float: right;
    margin-right: 100px;
}
.info-list {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
}
.info-list li {
    margin: 6px 0;
    text-align: left;
}
.info-list li .title {
    display: inline-block;
    min-width: 120px;
}
.info-list li .value {
    display: inline-block;
    color: #9e9e9e;
}

footer {
    position: fixed;
    bottom: 0;
    left: 35%
}

footer .copyright {
    display: block;
    margin-bottom: 12px;
    text-align: center;
    font-size: 12;
    color: #9e9e9e;
   
}